@layer base, components, utilities;
@import './component.css';
@import './layout.css';

body {
  margin: 0;
  background-color: #f8fafb;
  font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
