@layer components {
  .main-container {
    width: 92%;
    max-width: 1440px;
    margin-inline: auto;
    padding-bottom: 24px;
    position: relative;
    display: grid;
    grid-template-columns: minmax(max-content, 240px) 1fr minmax(max-content, 240px);
    gap: 16px;
    @media (max-width: 928px) {
      width: 100%;
      padding: 0 16px;
      display: block;
    }
  }
  .enum-tags {
    white-space: wrap;
    color: var(--border-color);
  }
}
