@layer base, components, utilities;
@import './atom/base.css' layer(base);
@import './atom/component.css' layer(components);
@import './atom/utility.css' layer(utilities);

:root {
  --spacing: 0.25rem;
}

body {
  margin: 0;
  background-color: #f8fafb;
  font-family: Arial, Helvetica, sans-serif;
}
