@layer utilities {
  .overflow-hidden {
    overflow: hidden;
  }
  /* margin */
  .mb-1 {
    margin-bottom: var(--spacing);
  }
  .mb-2 {
    margin-bottom: calc(var(--spacing) * 2);
  }
  .mb-3 {
    margin-bottom: calc(var(--spacing) * 3);
  }
  .mx-auto {
    margin-inline: auto;
  }
  /* padding */
  .px-6 {
    padding-left: calc(var(--spacing) * 6);
    padding-right: calc(var(--spacing) * 6);
  }
}
